@media screen and (max-width:992px){
    .navbar-toggle {
        margin-top: 34px;
    }
    .logo {
        transform-origin: left;
        transform: scale(0.75);
        margin-top:-20px;

      }
}

@media screen and (max-width:568px){
    .navbar-toggle {
        margin-top: 34px;
        transform: scale(0.75);
    }
    .logo {
        transform-origin: left;
        transform: scale(0.5);
        margin-top:-80px;

    }
}

@media screen and (max-width:1024px){
    .collapse{
        height: 20px;
    }
}

.navbar{
    background-color: #f8f8f8;
    border: none;
}

.navbar-toggle {
    margin-top:20px;
}

.container-fluid {
    margin-left: 24px;
    margin-right: 24px;
}

.logo{
    max-width: 100%;
    height: auto;
    width: auto; 
}

.navbar-collapse.in{
    overflow-x: visible;
    overflow-y: visible;
}


.nav{
    padding:2% ;
    font-size: 17px;
}

.nav li{
    float: left;
    width: 112px;
    text-align: center;
}

.nav a{
    flex: block;
    line-height: 36px;
    color:#BB0003;
}

.nav a:hover{
    background-color: #fff;
    color:#ac0205;
}